gris = #939598
verde = #044d64
celeste = #02aec3
negro = #231f20
header 
 width 100%
 height 5vw
 line-height 5vw
 position fixed
 top 0
 transition: all 0.5s linear
 z-index: 2
 display flex
 justify-content: space-between
 align-items: center
 padding: 0 4vw
 box-sizing: border-box
 @media(max-width: 900px)
  height: 15vw
 .logo
  display inline-block
  background url('imagenes/sumergidaLogo.png')
  background-size cover
  height 3vw
  width 16.275vw
  opacity: 0
  transition: all 0.5s linear
  @media screen and (min-resolution: 2dppx)
   background url('imagenes/sumergidaLogo2x.png') cover
  @media screen and (min-resolution: 3dppx)
   background url('imagenes/sumergidaLogo3x.png') cover
  @media(max-width: 900px)
    height: 9vw
    width: 48.825vw
nav
 line-height 64px
 @media(max-width: 600px)
  position: absolute
  top: 15vw
  right: 0
  background verde
  width 100vw
  height: auto
  transition 1s ease
 ul 
  display flex
  justify-content: space-between
  width: 20vw
  padding: 0
  margin: 0
  @media(max-width: 600px)
   width 100vw
   flex-wrap: wrap
  li 
   list-style: none
   text-align center
   @media(max-width: 600px)
    margin 0
    border-bottom: 1px solid #e1e1e1
    width: 100vw
   a
    @media(max-width: 900px)
     display: block
     width: 100vw
   a:hover 
    color celeste
    border-bottom: 3px solid celeste
    box-sizing: border-box
    @media(max-width: 600px)
     color #e1e1e1
     background celeste
  li:last-child
   @media(max-width: 600px)
    border-bottom: none
.hidden
 @media(max-width: 600px)
  right -100vw
.navButton
 font-size 10vw 
 color #e1e1e1
 @media(min-width: 600px)
  display none
.headerVisible
  background: black
  .logo
    opacity: 1