<!DOCTYPE html>
html(lang="en")
head
 meta(charset="UTF-8")
 title Document
 link(rel='stylesheet' type='text/css' href='app.css')
body
 #header
 #main-container
 footer 
 script(type='application/javascript' src='app.js')
 
