//Banner
.portada
 width: 100vw
 height 39vw
 background-image url('/imagenes/sumergidaBanner.jpg')
 background-size contain
 background-repeat: no-repeat
 background-attachment fixed
 @media(max-width: 900px)
  height 120vw
  background-image url('/imagenes/sumergidaBannerRes.jpg')
  background-size: cover
 .portada-imagen
  width 100vw
  height 40vw
  background rgba(1, 1, 1, 0.3)
  display: flex
  justify-content: center
  align-items: center
  @media(max-width: 900px)
   height 120vw 
  .logo
   height 6vw
   @media(max-width: 900px)
    height 12vw 

//Imágenes
#imagenAudio
 background: url('imagenes/SumergidaAudioSq3x.jpg')
 background-size: cover
#inicioConsole
 background: url('imagenes/sumergidaConsole.jpg')
 background-size: cover
 background-attachment: fixed
#imagenMusica
 background: url('imagenes/sumergidaMusica.jpg')
 background-size: cover
#imagenCine 
  background: url('imagenes/sumergidaFoto3x.jpg')
  background-size: cover
#inicioCamaras
  background: url('imagenes/sumergidaCine3x.jpg')
  background-size: cover
  background-attachment: fixed
