nav
 position absolute
 right 0 
 top 0
 line-height 50px
 a 
    color #e1e1e1
    text-decoration none
 ul 
  display flex
  margin 0
  @media(max-width: 992px)
   display none
  li 
   margin-right 30px
   list-style: none

.fa-bars
 font-size 2rem
 position absolute
 right 10px 
 top 10px
 @media(min-width: 993px)
  display none
.hidden 
 display none