@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css'

.servicio
 text-align center
 width 100%
 @media screen and (min-width: 600px)
  width 40%
 @media screen and (min-width: 900px)
  width 30%
 .fa
  font-size 4em
  color red
